{% extends "base.html" %}

{% block body %}
<div class="btn-container">
    <div class="btn-list">
        <input class="img-btn" type="image" id="wefinex" alt="Wefinex" src="/static/img/btnicon/wefinex.jpg">
        <input class="img-btn" type="image" id="olymptrade" alt="olymptrade" src="/static/img/btnicon/olymp_trade.jpg">
        <input class="img-btn" type="image" id="binomo" alt="binomo" src="/static/img/btnicon/binomo.jpg">
        <input class="img-btn" type="image" id="rosichi" alt="rosichi" src="/static/img/btnicon/rosichi.jpg">
        <input class="img-btn" type="image" id="aresbo" alt="aresbo" src="/static/img/btnicon/aresbo.jpg">
        <input class="img-btn" type="image" id="iqoption" alt="iqoption" src="/static/img/btnicon/iqoption.jpg">
        <input class="img-btn" type="image" id="binanex" alt="binanex" src="/static/img/btnicon/binanex.jpg">
        <input class="img-btn" type="image" id="expertoption" alt="expertoption" src="/static/img/btnicon/expertoption.jpg">
        <input class="img-btn" type="image" id="kitanex" alt="kitanex" src="/static/img/btnicon/kitanex.jpg">
        <input class="img-btn" type="image" id="bitono" alt="bitono" src="/static/img/btnicon/bitono.jpg">
    </div>
</div>
{% endblock %}