{% extends "base.html" %}

{% block body %}
<div class="container-main">
    <div class="header-container">
        <div class="text-title text-title_header">Hệ thống hỗ trợ Trader</div>
        <div class="text-note">(Chứng Khoán - Forex - Crypto - Binary Options)</div>
    </div>
    <div class="text-title text-title__content">Vui lòng lựa chọn sàn giao dịch của bạn</div>
    <div class="btn-container">
        <div class="btn-list">
            <div class="row">
                <div class="col-2">
                    <input class="img-btn" type="image" data-id="wefinex" alt="Wefinex" src="/static/img/btnicon/wefinex.jpg">
                </div>
                <div class="col-4">
                    <input class="img-btn" type="image" data-id="olymptrade" alt="olymptrade" src="/static/img/btnicon/olymptrade.jpg">
                </div>
                <div class="col-6">
                    <input class="img-btn" type="image" data-id="aresbo" alt="aresbo" src="/static/img/btnicon/aresbo.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <input class="img-btn" type="image" data-id="rosichi" alt="rosichi" src="/static/img/btnicon/rosichi.jpg">
                </div>
                <div class="col-4">
                    <input class="img-btn" type="image" data-id="binomo" alt="binomo" src="/static/img/btnicon/binomo.jpg">
                </div>
                <div class="col-6">
                    <input class="img-btn" type="image" data-id="bitono" alt="bitono" src="/static/img/btnicon/bitono.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <input class="img-btn" type="image" data-id="kitanex" alt="kitanex" src="/static/img/btnicon/kitanex.jpg">
                </div>
                <div class="col-4">
                    <input class="img-btn" type="image" data-id="binanex" alt="binanex" src="/static/img/btnicon/binanex.jpg">
                </div>
                <div class="col-6">
                    <input class="img-btn" type="image" data-id="deniex" alt="deniex" src="/static/img/btnicon/deniex.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <input class="img-btn" type="image" data-id="pocinex" alt="pocinex" src="/static/img/btnicon/pocinex.jpg">
                </div>
                <div class="col-4">
                    <input class="img-btn" type="image" data-id="expertoption" alt="expertoption" src="/static/img/btnicon/expertoption.jpg">
                </div>
                <div class="col-6">
                    <input class="img-btn" type="image" data-id="iqoption" alt="iqoption" src="/static/img/btnicon/iqoption.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock js %}