{% extends "base.html" %}

{% block body %}
<div class="container-main">
    <div class="btn-container">
        <div class="btn-list">
            <input class="img-btn" type="image" data-id="wefinex" alt="Wefinex" src="/static/img/btnicon/wefinex.jpg">
            <input class="img-btn" type="image" data-id="olymptrade" alt="olymptrade" src="/static/img/btnicon/olymptrade.jpg">
            <input class="img-btn" type="image" data-id="binomo" alt="binomo" src="/static/img/btnicon/binomo.jpg">
            <input class="img-btn" type="image" data-id="rosichi" alt="rosichi" src="/static/img/btnicon/rosichi.jpg">
            <input class="img-btn" type="image" data-id="aresbo" alt="aresbo" src="/static/img/btnicon/aresbo.jpg">
            <input class="img-btn" type="image" data-id="iqoption" alt="iqoption" src="/static/img/btnicon/iqoption.jpg">
            <input class="img-btn" type="image" data-id="binanex" alt="binanex" src="/static/img/btnicon/binanex.jpg">
            <input class="img-btn" type="image" data-id="expertoption" alt="expertoption" src="/static/img/btnicon/expertoption.jpg">
            <input class="img-btn" type="image" data-id="kitanex" alt="kitanex" src="/static/img/btnicon/kitanex.jpg">
            <input class="img-btn" type="image" data-id="bitono" alt="bitono" src="/static/img/btnicon/bitono.jpg">
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock js %}