<div class="modal fade" id="new-user-modal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable my-0 py-3 mh-100">
        <div class="modal-content mh-100">
            <div class="modal-header">
                <h5 class="modal-title">Add New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="scroll-container overflow-auto">
                    <table class="input-mw-table table table-deactive">
                        <thead>
                            <tr>
                                <th class="text-nowrap">Username</th>
                                <th class="text-nowrap">Phone Number</th>
                                <th class="text-nowrap">Password</th>
                                <th class="text-nowrap">Tên web</th>
                                <th class="text-nowrap">Nhập mã đăng nhập</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="user-row-input">
                                <td><input class="name-new form-control" type="text" /></td>
                                <td><input class="phone-new form-control" type="text" /></td>
                                <td><input class="pwd-new form-control" type="text" /></td>
                                <td><select class="web-new form-control">
                                    <option value="aresbo">aresbo</option>
                                    <option value="binanex">binanex</option>
                                    <option value="binomo">binomo</option>
                                    <option value="bitono">bitono</option>
                                    <option value="expertoption">expertoption</option>
                                    <option value="iqoption">iqoption</option>
                                    <option value="kitanex">kitanex</option>
                                    <option value="olymptrade">olymptrade</option>
                                    <option value="rosichi">rosichi</option>
                                    <option value="wefinex">wefinex</option>
                                </select></td>
                                <td><input class="code-new form-control" type="text" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <div class="spacing mr-auto">
                    <button type="button" class="btn btn-primary btn-import">Import</button>
                    <input type="file" class="input-import d-none" /> -->

                    <!-- <button type="button" class="btn btn-primary btn-download-template">Download template</button> -->
                <!-- </div> -->
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn-save--user btn btn-warning px-4">Save</button>
            </div>
        </div>
    </div>
</div> 