<div class="modal fade" id="new-user-modal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable my-0 py-3 mh-100">
        <div class="modal-content mh-100">
            <div class="modal-header">
                <h5 class="modal-title">Add New User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="scroll-container overflow-auto">
                    <table class="input-mw-table table table-deactive">
                        <thead>
                            <tr>
                                <th class="text-nowrap">Username</th>
                                <th class="text-nowrap">Phone Number</th>
                                <th class="text-nowrap">Tên web</th>
                                <th class="text-nowrap">Cấp quyền truy cập</th>
                                <th class="text-nowrap"></th> 
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Render by JS -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <div class="spacing mr-auto">
                    <button type="button" class="btn btn-primary btn-import">Import</button>
                    <input type="file" class="input-import d-none" /> -->

                    <!-- <button type="button" class="btn btn-primary btn-download-template">Download template</button> -->
                <!-- </div> -->
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn-save--user btn btn-warning px-4">Save</button>
            </div>
        </div>
    </div>
</div> 