{% extends "base.html" %}

{% block body %}
<div class ="container-profile h-100">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="loader-container d-none align-items-center justify-content-center mx-3">
      <div class="loading-process text-center position-relative">
        <div class="text-loading position-absolute loader-text mx-auto">0%</div>
        <div class="progress mx-5">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="loader-text mt-2">Vui lòng chờ trong ít phút, máy chủ đang cập nhật dữ liệu từ sàn giao dịch của bạn.</div>
      </div>  
      <div class="loading-done text-center d-none">
        <div class="checkmark">
          <div class="checkmark_circle"></div>
          <div class="checkmark_stem"></div>
          <div class="checkmark_kick"></div>
        </span>
        </div>
        <div class="loader-text mt-2">Cập nhật dữ liệu thành công, đang chuyển tới sàn giao dịch của bạn <span class="time-loading">(5)</span>.</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/profile.js')}}"></script>
{% endblock js %}