{% extends "base.html" %}

{% block body %}
<div class ="container-profile h-100">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="loader-container d-none align-items-center justify-content-center">
      <div class="loader text-center">
        <div class="loader-wheel m-auto"></div>
        <div class="loader-text mt-2"></div>
      </div>  
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/profile.js')}}"></script>
{% endblock js %}