<!-- {% extends "base.html" %}

{% block body %}
<div>
    <form class="form" id="verify">
        <div class="form__input-group">
            <input type="password" id="input-verify" class="form__input" autofocus placeholder="Password2">
            <div class="form__input-error-message"></div>
        </div>
        <button id = "btn-verify" class="form__button" type="submit">Continue</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/verify.js')}}"></script>
{% endblock js %} -->